body
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #ffc0783e;
}
.container
{
    height: 200px;
    width:600px;
    border:1px solid black;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 10px;
    border-radius: 10px;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.125);
    background-color: #bceeed;
    
}
h1
{
    font-size: 50px;
    font-family:cursive;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.314);

}
.txt
{
    border-radius: 10px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin: 5px;
    
}
input
{
    font-size: 40px;
    font-weight: 550;
    text-align: center;
    font-size: 41px; 
    border: none;
    width: 90%;
    height: 100%;
    color: #000000;
    background-color: #ffffff;
    box-sizing: border-box;
}

.underline
{
    margin-top: 10px;
    gap:10px;
    border-top:10px solid black;
    margin-left: 10px;
    margin-right: 10px;
}
.chances
{
    margin:20px;
    font-size: 20px;
    padding:10px;
    border: 1px solid black;
    border-radius: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:15px;
    font-weight: 700;
    background-color: #ffc0785e;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.051);
}
.hint
{
    height: auto;
    width:500px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:30px;
    background-color:beige;
    padding:10px;
    border-radius: 10px;
    font-weight: 600;
    border: 1px solid black;
    text-wrap:wrap;
    box-shadow: 0px 0px 20px 10px rgba(0, 0, 0, 0.125);
}
.error
{
    margin-top:30px;
    font-size: 30px;
    font-weight:600;
    color:red;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.147);

}